<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dingzhuo.energy.project.electricityTypeSetting.mapper.ElectricityTypeSettingItemMapper">

    <sql id="selectRuleDetailsVo">
        select id,
               rule_id,
               start_time,
               end_time,
               type,
               dept_id,
               del_flag,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from electricity_type_setting_item
    </sql>

    <select id="selectListByRuleId"
            resultType="com.dingzhuo.energy.project.electricityTypeSetting.domain.entity.ElectricityTypeSettingItem">
        SELECT *
        FROM electricity_type_setting_item
        WHERE rule_id = #{id}
    </select>

    <insert id="insertRuleDetails" parameterType="ElectricityTypeSettingItem">
        insert into electricity_type_setting_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">id,</if>
            <if test="ruleId != null ">rule_id,</if>
            <if test="type != null ">type,</if>
            <if test="deptId != null ">dept_id,</if>
            <if test="delFlag != null ">del_flag,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="timePeriod != null ">time_period,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="ruleId != null ">#{ruleId},</if>
            <if test="type != null ">#{type},</if>
            <if test="deptId != null ">#{deptId},</if>
            <if test="delFlag != null ">#{delFlag},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="timePeriod != null ">#{timePeriod},</if>
        </trim>
    </insert>

    <update id="updateRuleDetails" parameterType="ElectricityTypeSettingItem">
        update electricity_type_setting_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="ruleId != null ">rule_id = #{ruleId},</if>
            <if test="type != null ">type = #{type},</if>
            <if test="deptId != null ">dept_id = #{deptId},</if>
            <if test="delFlag != null ">del_flag = #{delFlag},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="timePeriod != null ">time_period = #{timePeriod},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRuleDetailsById">
        delete
        from electricity_type_setting_item
        where id = #{id}
    </delete>

    <delete id="deleteRulesByRuleId">
        delete
        from electricity_type_setting_item
        where rule_id = #{ruleId}
    </delete>
</mapper>