.themeDark {
  #app {
    .el-menu-item.is-active {
      background: #3271eb !important;
      // border-radius: 30px 30px 30px 30px !important;
      color: #fff;
    }

    .el-scrollbar {
      width: 100%;
      margin: 0 auto;
    }


    .main-container {
      height: 100%;
      transition: margin-left 0.28s;
      margin-left: $base-sidebar-width;
      position: relative;
    }

    .sidebarHide {
      margin-left: 0 !important;
    }

    .sidebar-container {
      -webkit-transition: width 0.28s;
      transition: width 0.28s;
      width: $base-sidebar-width !important;
      background-color: $base-menu-background;
      height: 100%;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 1001;
      overflow: hidden;
      -webkit-box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
      box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
      font-family: OPPOSans, OPPOSans;
      font-weight: 500;
      font-size: 18px;
      color: #FAFAFB;

      // reset element-ui css
      .horizontal-collapse-transition {
        transition: 0s width ease-in-out, 0s padding-left ease-in-out,
          0s padding-right ease-in-out;
      }

      .scrollbar-wrapper {
        overflow-x: hidden !important;
      }

      .el-scrollbar__bar.is-vertical {
        right: 0px;
      }

      .el-scrollbar {
        height: 100%;
      }

      &.has-logo {
        .el-scrollbar {
          height: calc(100% - 100px);
        }
      }

      .is-horizontal {
        display: none;
      }

      a {
        display: inline-block;
        width: 100%;
        overflow: hidden;
      }

      .svg-icon {
        margin-right: 16px;
        font-size: 14px;
      }

      .el-menu {
        border: none;
        height: 100%;
        // width: 95%;
        margin: 0 auto;
      }

      .el-menu-item,
      .menu-title {
        overflow: hidden !important;
        font-weight: 400 !important;
        font-size: 16px !important;
      }

      // @media (min-width: 1440px) {
      //   .el-menu-item, .menu-title {
      //     overflow: hidden !important;
      //     text-overflow: ellipsis !important;
      //     white-space: nowrap !important;
      //     font-family: OPPOSans, OPPOSans;
      //     font-weight: 400 !important;
      //     font-size: 16px !important;
      //   }
      // }

      // @media (min-width: 1920px) {
      //   .el-menu-item, .menu-title {
      //     overflow: hidden !important;
      //     text-overflow: ellipsis !important;
      //     white-space: nowrap !important;
      //     font-family: OPPOSans, OPPOSans;
      //     font-weight: 400 !important;
      //     font-size: 18px !important;
      //   }
      // }

      .el-menu-item .el-menu-tooltip__trigger {
        display: inline-block !important;
      }

      // menu hover
      .sub-menu-title-noDropdown,
      .el-sub-menu__title {
        &:hover {
          background-color: rgba(0, 0, 0, 0.2) !important;
        }
      }

      & .theme-dark .is-active > .el-sub-menu__title {
        color: $base-menu-color-active !important;
        background-color: rgba(0, 0, 0, 0.2) !important;
      }

      & .nest-menu .el-sub-menu > .el-sub-menu__title,
      & .el-sub-menu .el-menu-item {
        // min-width: $base-sidebar-width !important;

        &:hover {
          background-color: rgba(0, 0, 0, 0.06) !important;
          // border-radius: 30px 30px 30px 30px !important;
        }
      }

      // 子级item
      & .theme-dark .nest-menu .el-sub-menu > .el-sub-menu__title,
      & .theme-dark .el-sub-menu .el-menu-item {
        // border-radius: 30px 30px 30px 30px !important;

        &:hover {
          background-color: $base-sub-menu-hover !important;
          // border-radius: 30px 30px 30px 30px !important;
        }
      }
    }

    .hideSidebar {
      .sidebar-container {
        width: 54px !important;
      }

      .main-container {
        margin-left: 54px;
      }

      .sub-menu-title-noDropdown {
        padding: 0 !important;
        position: relative;

        .el-tooltip {
          padding: 0 !important;

          .svg-icon {
            margin-left: 20px;
          }
        }
      }

      .el-sub-menu {
        overflow: hidden;

        & > .el-sub-menu__title {
          padding: 0 !important;

          .svg-icon {
            margin-left: 20px;
          }
        }
      }

      .el-menu--collapse {
        .el-sub-menu {
          & > .el-sub-menu__title {
            & > span {
              height: 0;
              width: 0;
              overflow: hidden;
              visibility: hidden;
              display: inline-block;
            }
            & > i {
              height: 0;
              width: 0;
              overflow: hidden;
              visibility: hidden;
              display: inline-block;
            }
          }
        }
      }
    }

    .el-menu--collapse .el-menu .el-sub-menu {
      min-width: $base-sidebar-width !important;
    }

    // mobile responsive
    .mobile {
      .main-container {
        margin-left: 0px;
      }

      .sidebar-container {
        transition: transform 0.28s;
        width: $base-sidebar-width !important;
      }

      &.hideSidebar {
        .sidebar-container {
          pointer-events: none;
          transition-duration: 0.3s;
          transform: translate3d(-$base-sidebar-width, 0, 0);
        }
      }
    }

    .withoutAnimation {
      .main-container,
      .sidebar-container {
        transition: none;
      }
    }
  }

  // when menu collapsed
  .el-menu--vertical {
    & > .el-menu {
      .svg-icon {
        margin-right: 16px;
      }
    }

    .nest-menu .el-sub-menu > .el-sub-menu__title,
    .el-menu-item {
      &:hover {
        // you can use $sub-menuHover
        background-color: rgba(0, 0, 0, 0.06) !important;
      }
    }

    // the scroll bar appears when the sub-menu is too long
    > .el-menu--popup {
      max-height: 100vh;
      overflow-y: auto;

      &::-webkit-scrollbar-track-piece {
        background: #d3dce6;
      }

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-thumb {
        background: #99a9bf;
        border-radius: 20px;
      }
    }
  }
}

.themeLight {
  #app {
    .el-menu-item.is-active {
      background: #e0eafc !important;
      // border-radius: 30px 30px 30px 30px !important;
    }

    .el-scrollbar {
      width: 100%;
      margin: 0 auto;
    }

    .main-container {
      height: 100%;
      transition: margin-left 0.28s;
      margin-left: $base-sidebar-width;
      position: relative;
    }

    .sidebarHide {
      margin-left: 0 !important;
    }

    .sidebar-container {
      -webkit-transition: width 0.28s;
      transition: width 0.28s;
      width: $base-sidebar-width !important;
      background-color: $base-menu-background;
      height: 100%;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 1001;
      overflow: hidden;
      -webkit-box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
      box-shadow: none;
      border-right: 1px solid #E6E7E8;

      font-family: OPPOSans, OPPOSans;
      font-weight: 500;
      font-size: 18px;
      color: #1d1d1d;

      // reset element-ui css
      .horizontal-collapse-transition {
        transition: 0s width ease-in-out, 0s padding-left ease-in-out,
          0s padding-right ease-in-out;
      }

      .scrollbar-wrapper {
        overflow-x: hidden !important;
      }

      .el-scrollbar__bar.is-vertical {
        right: 0px;
      }

      .el-scrollbar {
        height: 100%;
      }

      &.has-logo {
        .el-scrollbar {
          height: calc(100% - 100px);
        }
      }

      .is-horizontal {
        display: none;
      }

      a {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        // border-radius: 30px;
      }

      .svg-icon {
        margin-right: 16px;
        font-size: 14px;
        color: #C3C3C3;
      }

      .el-menu {
        border: none;
        height: 100%;
        // width: 95%;
        margin: 0 auto;
      }

      .el-menu-item,
      .menu-title {
        overflow: hidden !important;
        font-weight: 400 !important;
        font-size: 16px !important;
      }

      // @media (min-width: 1440px) {
      //   .el-menu-item, .menu-title {
      //     overflow: hidden !important;
      //     text-overflow: ellipsis !important;
      //     white-space: nowrap !important;
      //     font-family: OPPOSans, OPPOSans;
      //     font-weight: 400 !important;
      //     font-size: 16px !important;
      //   }
      // }

      // @media (min-width: 1920px) {
      //   .el-menu-item, .menu-title {
      //     overflow: hidden !important;
      //     text-overflow: ellipsis !important;
      //     white-space: nowrap !important;
      //     font-family: OPPOSans, OPPOSans;
      //     font-weight: 400 !important;
      //     font-size: 18px !important;
      //   }
      // }

      .el-menu-item .el-menu-tooltip__trigger {
        display: inline-block !important;
      }

      // menu hover
      .sub-menu-title-noDropdown,
      .el-sub-menu__title {
        &:hover {
          background-color: rgba(0, 0, 0, 0.06) !important;
        }
      }

      
      & .theme-light .is-active > .el-sub-menu__title {
        color: $--color-primary !important;
        // background-color: #eaeff8 !important;
      }

      & .nest-menu .el-sub-menu > .el-sub-menu__title,
      & .el-sub-menu .el-menu-item {
        // min-width: $base-sidebar-width !important;

        &:hover {
          background-color: #E0EAFC !important;
          // border-radius: 30px 30px 30px 30px !important;
        }
      }

      // 子级item
      & .theme-dark .nest-menu .el-sub-menu > .el-sub-menu__title,
      & .theme-dark .el-sub-menu .el-menu-item {
        background-color: #E0EAFC !important;
        // border-radius: 30px 30px 30px 30px !important;

        &:hover {
          background-color: #E0EAFC !important;
          // border-radius: 30px 30px 30px 30px !important;
        }
      }
    }

    .hideSidebar {
      .sidebar-container {
        width: 54px !important;
      }

      .main-container {
        margin-left: 54px;
      }

      .sub-menu-title-noDropdown {
        padding: 0 !important;
        position: relative;

        .el-tooltip {
          padding: 0 !important;

          .svg-icon {
            margin-left: 20px;
          }
        }
      }

      .el-sub-menu {
        overflow: hidden;

        & > .el-sub-menu__title {
          padding: 0 !important;

          .svg-icon {
            margin-left: 20px;
          }
        }
      }

      .el-menu--collapse {
        .el-sub-menu {
          & > .el-sub-menu__title {
            & > span {
              height: 0;
              width: 0;
              overflow: hidden;
              visibility: hidden;
              display: inline-block;
            }
            & > i {
              height: 0;
              width: 0;
              overflow: hidden;
              visibility: hidden;
              display: inline-block;
            }
          }
        }
      }
    }

    .el-menu--collapse .el-menu .el-sub-menu {
      min-width: $base-sidebar-width !important;
    }

    // mobile responsive
    .mobile {
      .main-container {
        margin-left: 0px;
      }

      .sidebar-container {
        transition: transform 0.28s;
        width: $base-sidebar-width !important;
      }

      &.hideSidebar {
        .sidebar-container {
          pointer-events: none;
          transition-duration: 0.3s;
          transform: translate3d(-$base-sidebar-width, 0, 0);
        }
      }
    }

    .withoutAnimation {
      .main-container,
      .sidebar-container {
        transition: none;
      }
    }
  }

  // when menu collapsed
  .el-menu--vertical {
    & > .el-menu {
      .svg-icon {
        margin-right: 16px;
      }
    }

    .nest-menu .el-sub-menu > .el-sub-menu__title,
    .el-menu-item {
      &:hover {
        // you can use $sub-menuHover
        background-color: rgba(0, 0, 0, 0.06) !important;
      }
    }

    // the scroll bar appears when the sub-menu is too long
    > .el-menu--popup {
      max-height: 100vh;
      overflow-y: auto;

      &::-webkit-scrollbar-track-piece {
        background: #d3dce6;
      }

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-thumb {
        background: #99a9bf;
        border-radius: 20px;
      }
    }
  }
}
